.instagram-media {
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);
    margin: 1px;
    max-width: 300px;
    width: 100%;
    width: -webkit-calc(100% - 2px);
    width: calc(100% - 2px);
    padding:8px;
}