<div id="about" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-container">
                    <div class="section-title">ABOUT</div>
                    <h2>Ever wondered what to talk about with a person?</h2>
                    <p>This service will help you find common interests with other person!
                    <br><br>The process is simple: tell us your and other person's Instagram username, and our Data Mining algorithm will search through it and tell you whether you have common interests.</p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid" src="../static/images/about.jpeg" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Infograph -->
<div class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <span class="fa-stack">
                        <i class="fab fa-instagram fa-6x"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">1. Enter usernames</h4>
                        <p>First, enter your Instagram username and username of the person who you interested in</p>
                    </div>
                </div>

                <div class="card">
                    <span class="fa-stack">
                        <i class="fas fa-spinner fa-6x"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">2. Analysis...</h4>
                        <p>Wait a bit while our algorithm scans these pages and prepare the results</p>
                    </div>
                </div>

                <div class="card">
                    <span class="fa-stack">
                        <i class="far fa-check-circle fa-6x"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">3. Get results!</h4>
                        <p>You will see statistics visualization about person's interests</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>