<div id="get-started" class="accordion">

    <div class="area-1">
    </div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2">

        <form action="/" method="post">
            <div class="accordion-container" id="accordionOne">
                <h2>Let's get started in two easy steps!</h2>
                <div class="item">
                    <div id="headingOne">
                        <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">
                            <span class="circle-numbering">1</span><span class="accordion-title">Enter your Instagram username</span>
                        </span>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
                        <div class="accordion-body">
                            <input class="form-control-input" type="text" name="first-username" required>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div id="headingTwo">
                        <span class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" role="button">
                            <span class="circle-numbering">2</span><span class="accordion-title">Enter other's person Instagram username</span>
                        </span>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionOne">
                        <div class="accordion-body">
                            <input class="form-control-input" type="text" name="second-username" required>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div id="headingThree">
                        <input class="btn-submit-lg page-scroll" type="submit" value="Submit & Start Analysis">
                    </div>
                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </form>
    </div>
</div>