<header id="header" class="header header-image">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1>SEARCH <span id="js-rotating">PEOPLE, INTERESTS, FRIENDS</span></h1>
                        <p class="p-heading p-large">Hobbymates - is Data Mining based service<br> that helps people communicate to each other</p>
                        <a class="btn-solid-lg page-scroll" href="#explore">EXPLORE RESULTS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
