<script src="../static/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="../static/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="../static/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="../static/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="../static/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="../static/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="../static/js/scripts.js"></script> <!-- Custom scripts -->
<script src="../static/js/paginator.js"></script> <!-- Custom scripts - page pagination -->
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script> <!-- Instagram post display -->