<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hobbymates</title>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/fontawesome-all.css" rel="stylesheet">
    <link href="../static/css/swiper.css" rel="stylesheet">
	<link href="../static/css/magnific-popup.css" rel="stylesheet">
	<link href="../static/css/styles.css" rel="stylesheet">
	<link href="../static/css/instagram-post.css" rel="stylesheet">

    <link rel="icon" href="../static/images/logo.png">

    <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">

        <a class="navbar-brand logo-image" href="index.html"><img src="../static/images/logo.png" alt="alternative"></a>
        <a class="navbar-brand logo-text page-scroll" href="index.html">Hobbymates</a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#get-started">GET STARTED</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#explore">EXPLORE</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1>SEARCH <span id="js-rotating">PEOPLE, INTERESTS, FRIENDS</span></h1>
                            <p class="p-heading p-large">Hobbymates - is Data Mining based service<br> that helps people communicate to each other</p>
                            <a class="btn-solid-lg page-scroll" href="#about">ABOUT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Intro -->
    <div id="about" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">ABOUT</div>
                        <h2>Ever wondered what to talk about with a person?</h2>
                        <p>This service will help you find common interests with other person!
                        <br><br>The process is simple: tell us your and other person's Instagram username, and our Data Mining algorithm will search through it and tell you whether you have common interests.</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="../static/images/about.jpeg" alt="alternative">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Description -->
    <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <span class="fa-stack">
                            <i class="fab fa-instagram fa-6x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">1. Enter usernames</h4>
                            <p>First, enter your Instagram username and username of the person who you interested in</p>
                        </div>
                    </div>

                    <div class="card">
                        <span class="fa-stack">
                            <i class="fas fa-spinner fa-6x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">2. Analysis...</h4>
                            <p>Wait a bit while our algorithm scans these pages and prepare the results</p>
                        </div>
                    </div>

                    <div class="card">
                        <span class="fa-stack">
                            <i class="far fa-check-circle fa-6x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">3. Get results!</h4>
                            <p>You will see statistics visualization about person's interests</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- get-started 1 -->
	<div id="get-started" class="accordion">

		<div class="area-1">
		</div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2">

            <form action="/" method="post">
                <div class="accordion-container" id="accordionOne">
                    <h2>Let's get started in two easy steps!</h2>
                    <div class="item">
                        <div id="headingOne">
                            <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">
                                <span class="circle-numbering">1</span><span class="accordion-title">Enter your Instagram username</span>
                            </span>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
                            <div class="accordion-body">
                                <input class="form-control-input" type="text" name="first-username" required>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div id="headingTwo">
                            <span class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" role="button">
                                <span class="circle-numbering">2</span><span class="accordion-title">Enter other's person Instagram username</span>
                            </span>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionOne">
                            <div class="accordion-body">
                                <input class="form-control-input" type="text" name="second-username" required>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div id="headingThree">
                            <input class="btn-submit-lg page-scroll" type="submit" value="Submit & Start Analysis">
                        </div>
                        {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </form>

		</div>
    </div>

    <!-- explore -->
	<div id="explore" class="filter">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">EXPLORE</div>
                    <h2>Instagram Page Statistics</h2>
                    <div style="text-align: center">
                        {% if prediction is defined %}
                        <b>
                            {% if prediction == 1 %}
                                You have a lot in common with this user!
                            {% elif prediction == 2 %}
                                You have a chance to be friends with this user!
                            {% elif prediction == 3 %}
                                There are not much common between you, but you can always try!
                            {% elif prediction == 4 %}
                                Sorry, we didn't find any common interests :(
                            {% else %}
                                Unknown result received
                            {% endif %}
                        </b>
                        {% else %}
                            Here will be displayed pages comparison once you fill the data in previous section!
                        {% endif %}

                        <br>
                        {% if similarities is defined %}
                            You've got these words in common:
                            <ul style="margin-left: 400px;">
                                {% for value in similarities %}
                                <li style="width: 200px">{{value}}</li>
                                {% endfor %}
                            </ul>

                         <div class="row">
                <div class="col-lg-12">
                    <!-- Filter -->
                    <div class="button-group filters-button-group">
                        <a class="button is-checked" data-filter="*"><span>SHOW ALL</span></a>
                        <a class="button" data-filter=".design"><span>DESIGN</span></a>
                        <a class="button" data-filter=".development"><span>DEVELOPMENT</span></a>
                        <a class="button" data-filter=".marketing"><span>MARKETING</span></a>
                        <a class="button" data-filter=".seo"><span>SEO</span></a>
                    </div> <!-- end of button group -->
                    <div class="grid">
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-1"><div class="element-item-overlay"><span>Online Banking</span></div><img src="images/project-1.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-2"><div class="element-item-overlay"><span>Classic Industry</span></div><img src="images/project-2.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design development marketing">
                            <a class="popup-with-move-anim" href="#project-3"><div class="element-item-overlay"><span>BoomBap Audio</span></div><img src="images/project-3.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design development marketing">
                            <a class="popup-with-move-anim" href="#project-4"><div class="element-item-overlay"><span>Van Moose</span></div><img src="images/project-4.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design development marketing seo">
                            <a class="popup-with-move-anim" href="#project-5"><div class="element-item-overlay"><span>Joy Moments</span></div><img src="images/project-5.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design marketing seo">
                            <a class="popup-with-move-anim" href="#project-6"><div class="element-item-overlay"><span>Spark Events</span></div><img src="images/project-6.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design marketing">
                            <a class="popup-with-move-anim" href="#project-7"><div class="element-item-overlay"><span>Casual Wear</span></div><img src="images/project-7.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design marketing">
                            <a class="popup-with-move-anim" href="#project-8"><div class="element-item-overlay"><span>Zazoo Apps</span></div><img src="images/project-8.jpg" alt="alternative"></a>
                        </div>
                    </div> <!-- end of grid -->
                    <!-- end of filter -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->

<!--                            <blockquote class="instagram-media" data-instgrm-version="2">-->
<!--                                    <a href="https://www.instagram.com/p/Br-GfCHhpML/" target="_top"></a>-->
<!--                            </blockquote>-->
<!--                        -->

                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
		</div>
    </div>

        <div id="project-6" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="images/project-6.jpg" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Spark Events</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">© 2021 Nadiia Havrylenko</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->
    
    	
    <!-- Scripts -->
    <script src="../static/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../static/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="../static/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="../static/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="../static/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="../static/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="../static/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="../static/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
    <script src="../static/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="../static/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>